In [169]:
# Use ML to predict whether or not a given constitution was written by a former UK colony.
# Inspired by https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2438983
# (e.g., idea to code countries as 1=former UK colony, 0=otherwise)
# Data on colonization from http://www.cepii.fr/PDF_PUB/wp/2011/wp2011-25.pdf
# Corpus of constitutions from https://www.poltext.org/en/constitutional-texts

# Data Cleaning

I'm basically starting from scratch here, just so that it's completely transparent (I'm not sweeping anything under the rug)

In [171]:
import os
import pandas as pd

In [172]:
const_files = sorted(os.listdir('constitutions'))

In [174]:
full_colonial_df = pd.read_stata('geo_cepii.dta')

In [175]:
full_colonial_df.head()

,iso2,iso3,cnum,country,pays,area,dis_int,landlocked,continent,city_en,...,lang9_2,lang9_3,lang9_4,colonizer1,colonizer2,colonizer3,colonizer4,short_colonizer1,short_colonizer2,short_colonizer3
0,AD,AND,20,Andorra,Andorre,453,8.005398,0.0,Europe,Andorra la Vella,...,,,,,,,,,,
1,AE,ARE,784,United Arab Emirates,Emirats arabes unis,83657,108.788994,0.0,Asia,Abu Dhabi,...,,,,GBR,,,,,,
2,AF,AFG,4,Afghanistan,Afghanistan,652225,303.761353,1.0,Asia,Kabul,...,Uzbek,,,,,,,GBR,,
3,AG,ATG,28,Antigua and Barbuda,Antigua-et-Barbuda,442,7.907605,0.0,America,Saint John's,...,,,,GBR,,,,,,
4,AI,AIA,660,Anguilla,Anguilla,102,3.798690,0.0,America,The Valley,...,,,,GBR,,,,,,

In [16]:
colonial_df = full_colonial_df[["country","pays","colonizer1"]]

In [18]:
colonial_df.head()

                country                 pays colonizer1
0               Andorra              Andorre
1  United Arab Emirates  Emirats arabes unis        GBR
2           Afghanistan          Afghanistan
3   Antigua and Barbuda   Antigua-et-Barbuda        GBR
4              Anguilla             Anguilla        GBR

In [49]:
# Now we try to match the files to countries in the dataset

In [50]:
file_df = pd.DataFrame(const_files, columns=["filename"])

In [51]:
file_df.head()

                 filename
0     afghanistan2004.txt
1    albanie1998-2008.txt
2    algerie1989-2008.txt
3  allemagne1949-2010.txt
4         andorre1993.txt

In [52]:
# Remove the ".txt"
file_df["file_country"] = file_df["filename"].str.replace(".txt","")
# Replace "-" with " "
file_df["file_country"] = file_df["file_country"].str.replace("-"," ")
# Replace "_" with " "
file_df["file_country"] = file_df["file_country"].str.replace("_"," ")
# Remove numbers
file_df["file_country"] = file_df["file_country"].str.replace("\d","")
# Remove trailing whitespace
file_df["file_country"] = file_df["file_country"].str.strip()

In [53]:
file_series

                           filename        file_country
0               afghanistan2004.txt         afghanistan
1              albanie1998-2008.txt             albanie
2              algerie1989-2008.txt             algerie
3            allemagne1949-2010.txt           allemagne
4                   andorre1993.txt             andorre
5                    angola2010.txt              angola
6        antigua-et-barbuda1981.txt  antigua et barbuda
7           arabie-saoudite1992.txt     arabie saoudite
8            argentine1853-1994.txt           argentine
9              armenie1995-2005.txt             armenie
10           australie1900-1977.txt           australie
11                 autriche1920.txt            autriche
12         azerbaidjan1995-2009.txt         azerbaidjan
13                  bahamas1973.txt             bahamas
14             bahrein1973-2002.txt             bahrein
15          bangladesh1972-2011.txt          bangladesh
16             barbade1966-2007.txt             barbade
17             belarus1994-2004.txt             belarus
18            belgique1994-2008.txt            belgique
19              belize1981-2010.txt              belize
20                    benin1990.txt               benin
21                  bhoutan2008.txt             bhoutan
22                  bolivie2009.txt             bolivie
23      bosnia-herzegovina-1995.txt  bosnia herzegovina
24                botswana_1996.txt            botswana
25              bresil1988-2012.txt              bresil
26   brunei-darussalam1959-2006.txt   brunei darussalam
27            bulgarie1991-2007.txt            bulgarie
28         burkinafaso1991-2009.txt         burkinafaso
29                  burundi2005.txt             burundi
..                              ...                 ...
166              st._lucia_1978.txt           st. lucia
167              suede1974-2011.txt               suede
168             suisse1999-2011.txt              suisse
169           suriname1987-1992.txt            suriname
170               swaziland2005.txt           swaziland
171              syrie1973-2012.txt               syrie
172        tadjikistan1994-2003.txt         tadjikistan
173                  taiwan1946.txt              taiwan
174                tanzanie1977.txt            tanzanie
175              tchad1996-2005.txt               tchad
176                   tchad1996.txt               tchad
177               thailande2007.txt           thailande
178          timor-oriental2002.txt      timor oriental
179               togo1992-2007.txt                togo
180              tonga1875-1988.txt               tonga
181  trinite-et-tobago1976-2000.txt   trinite et tobago
182            tunisie1959-2008.txt             tunisie
183       turkmenistan1992-2008.txt        turkmenistan
184            turquie1982-2011.txt             turquie
185             tuvalu1986-2007.txt              tuvalu
186            ukraine1996-2010.txt             ukraine
187            uruguay1967-2004.txt             uruguay
188            vanuatu1980-1983.txt             vanuatu
189                 vatican2000.txt             vatican
190          venezuela1999-2009.txt           venezuela
191            vietnam1992-2001.txt             vietnam
192              yemen1991-2001.txt               yemen
193             yougoslavie1992.txt         yougoslavie
194             zambie1991-1996.txt              zambie
195           zimbabwe1979-2009.txt            zimbabwe

[196 rows x 2 columns]

In [54]:
# Now merge

In [59]:
# First we should lowercase the country name
colonial_df["pays"] = colonial_df["pays"].str.lower()

/opt/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [66]:
merged_df = colonial_df.merge(file_df, left_on="pays", right_on="file_country")

In [67]:
# Remove duplicates
merged_df = merged_df.drop_duplicates(subset="country")

In [68]:
merged_df

,country,pays,colonizer1,filename,file_country
0,Andorra,andorre,,andorre1993.txt,andorre
1,United Arab Emirates,emirats arabes unis,GBR,emirats-arabes-unis1971-1972.txt,emirats arabes unis
2,Afghanistan,afghanistan,,afghanistan2004.txt,afghanistan
3,Albania,albanie,TUR,albanie1998-2008.txt,albanie
4,Angola,angola,PRT,angola2010.txt,angola
5,Argentina,argentine,ESP,argentine1853-1994.txt,argentine
6,Austria,autriche,,autriche1920.txt,autriche
7,Australia,australie,GBR,australie1900-1977.txt,australie
9,Barbados,barbade,GBR,barbade1966-2007.txt,barbade
10,Bangladesh,bangladesh,GBR,bangladesh1972-2011.txt,bangladesh
11,Bulgaria,bulgarie,TUR,bulgarie1991-2007.txt,bulgarie
12,Burundi,burundi,BEL,burundi2005.txt,burundi
13,Bolivia,bolivie,ESP,bolivie2009.txt,bolivie
15,Bahamas,bahamas,GBR,bahamas1973.txt,bahamas
16,Bhutan,bhoutan,,bhoutan2008.txt,bhoutan
17,Botswana,botswana,GBR,botswana_1996.txt,botswana
18,Belize,belize,GBR,belize1981-2010.txt,belize
19,Canada,canada,GBR,canada1867-1982.txt,canada
21,Switzerland,suisse,,suisse1999-2011.txt,suisse
22,Chile,chili,ESP,chili1980-2012.txt,chili
23,Cameroon,cameroun,FRA,cameroun1972-1996.txt,cameroun
24,China,chine,,chine1982-2004.txt,chine
25,Colombia,colombie,ESP,colombie1991-2011.txt,colombie
26,Cuba,cuba,ESP,cuba1976-2003.txt,cuba
27,Cyprus,chypre,GBR,chypre1960-1996.txt,chypre
28,Germany,allemagne,,allemagne1949-2010.txt,allemagne
30,Djibouti,djibouti,FRA,djibouti1992-2010.txt,djibouti
31,Denmark,danemark,,danemark1953.txt,danemark
32,Dominica,dominique,GBR,dominique1978-1984.txt,dominique
33,Ecuador,equateur,ESP,equateur2008.txt,equateur
...,...,...,...,...,...
94,Romania,roumanie,,roumanie1991-2003.txt,roumanie
95,Russian Federation,russie,,russie1993-2008.txt,russie
96,Rwanda,rwanda,BEL,rwanda2003-2010.txt,rwanda
97,Saudi Arabia,arabie saoudite,,arabie-saoudite1992.txt,arabie saoudite
98,Seychelles,seychelles,GBR,seychelles1993-2011.txt,seychelles
99,Sudan,soudan,GBR,soudan2005.txt,soudan
100,Singapore,singapour,GBR,singapour1963-2010.txt,singapour
101,Slovakia,slovaquie,HUN,slovaquie1992-2006.txt,slovaquie
102,Sierra Leone,sierra leone,GBR,sierra-leone1991.txt,sierra leone
103,Somalia,somalie,GBR,somalie1979.txt,somalie
104,Suriname,suriname,NLD,suriname1987-1992.txt,suriname
105,Syrian Arab Republic,syrie,FRA,syrie1973-2012.txt,syrie
106,Swaziland,swaziland,GBR,swaziland2005.txt,swaziland
107,Chad,tchad,FRA,tchad1996-2005.txt,tchad
109,Togo,togo,FRA,togo1992-2007.txt,togo
110,Tajikistan,tadjikistan,RUS,tadjikistan1994-2003.txt,tadjikistan
111,Tunisia,tunisie,FRA,tunisie1959-2008.txt,tunisie
112,Tonga,tonga,GBR,tonga1875-1988.txt,tonga
113,East Timor,timor oriental,PRT,timor-oriental2002.txt,timor oriental
114,Turkey,turquie,,turquie1982-2011.txt,turquie
116,Tuvalu,tuvalu,GBR,tuvalu1986-2007.txt,tuvalu
117,"Tanzania, United Rep. of",tanzanie,GBR,tanzanie1977.txt,tanzanie
119,Ukraine,ukraine,RUS,ukraine1996-2010.txt,ukraine
120,Uganda,ouganda,GBR,ouganda19952005.txt,ouganda
121,Uruguay,uruguay,ESP,uruguay1967-2004.txt,uruguay
122,Venezuela,venezuela,ESP,venezuela1999-2009.txt,venezuela
123,Vanuatu,vanuatu,GBR,vanuatu1980-1983.txt,vanuatu
124,Samoa,samoa,DEU,samoa1960-2008.txt,samoa
125,Zambia,zambie,GBR,zambie1991-1996.txt,zambie
126,Zimbabwe,zimbabwe,GBR,zimbabwe1979-2009.txt,zimbabwe

In [71]:
# Finally, make a 0/1 variable for whether or not they were a UK colony
merged_df["uk_col"] = (merged_df["colonizer1"] == "GBR").astype(int)

In [72]:
merged_df.head()

,country,pays,colonizer1,filename,file_country,uk_col
0,Andorra,andorre,,andorre1993.txt,andorre,0
1,United Arab Emirates,emirats arabes unis,GBR,emirats-arabes-unis1971-1972.txt,emirats arabes unis,1
2,Afghanistan,afghanistan,,afghanistan2004.txt,afghanistan,0
3,Albania,albanie,TUR,albanie1998-2008.txt,albanie,0
4,Angola,angola,PRT,angola2010.txt,angola,0

# Machine Learn!

In [78]:
import codecs

In [102]:
# Construct the list of texts
file_list = merged_df["filename"].tolist()

In [103]:
text_list = []
for cur_filename in file_list:
    print("Loading " + cur_filename)
    cur_filepath = os.path.join("constitutions",cur_filename)
    with codecs.open(cur_filepath, "r", "utf-8", errors="ignore") as f:
        cur_text = f.read().replace("\n"," ").replace("\r"," ")
        text_list.append(cur_text)

Loading andorre1993.txt
Loading emirats-arabes-unis1971-1972.txt
Loading afghanistan2004.txt
Loading albanie1998-2008.txt
Loading angola2010.txt
Loading argentine1853-1994.txt
Loading autriche1920.txt
Loading australie1900-1977.txt
Loading barbade1966-2007.txt
Loading bangladesh1972-2011.txt
Loading bulgarie1991-2007.txt
Loading burundi2005.txt
Loading bolivie2009.txt
Loading bahamas1973.txt
Loading bhoutan2008.txt
Loading botswana_1996.txt
Loading belize1981-2010.txt
Loading canada1867-1982.txt
Loading suisse1999-2011.txt
Loading chili1980-2012.txt
Loading cameroun1972-1996.txt
Loading chine1982-2004.txt
Loading colombie1991-2011.txt
Loading cuba1976-2003.txt
Loading chypre1960-1996.txt
Loading allemagne1949-2010.txt
Loading djibouti1992-2010.txt
Loading danemark1953.txt
Loading dominique1978-1984.txt
Loading equateur2008.txt
Loading estonie1992-2007.txt
Loading egypte2011.txt
Loading espagne1978-2011.txt
Loading ethiopie1995.txt
Loading finlande1999-2011.txt
Loading fidji1990-1997.txt
Loading france1958-2008.txt
Loading gabon1991-2003.txt
Loading grenade1973.txt
Loading ghana1992.txt
Loading gambie1996-2001.txt
Loading guatemala1985-1986-1993.txt
Loading guyana1980-2007.txt
Loading honduras1982-1991.txt
Loading croatie1990-2010.txt
Loading hongrie2011.txt
Loading irlande1937-2011.txt
Loading inde1949-1950-2011.txt
Loading iran1979-1989.txt
Loading islande1944-1999.txt
Loading italie1947-2007.txt
Loading jordanie1952-1984.txt
Loading japon1946.txt
Loading kenya2010.txt
Loading kirghizistan2010.txt
Loading cambodge1993-2008.txt
Loading kiribati1979.txt
Loading comores2001-2009.txt
Loading liban1926-1990.txt
Loading sri-lanka1978-2001.txt
Loading lesotho1993.txt
Loading lituanie1992-2006.txt
Loading luxembourg1868-2009.txt
Loading lettonie1922-2009.txt
Loading libye2011.txt
Loading maroc2011.txt
Loading moldavie19942006.txt
Loading madagascar2010.txt
Loading marshall19791995.txt
Loading mali1992.txt
Loading mauritanie19912012.txt
Loading malte196642007.txt
Loading maurice19682003.txt
Loading maldives2008.txt
Loading malawi1194-1999.txt
Loading mexique19172012.txt
Loading malaisie1963-2006.txt
Loading mozambique2004-2007.txt
Loading namibie1990-2010.txt
Loading niger2010.txt
Loading nicaragua1987.txt
Loading nauru1968-1968.txt
Loading oman1996.txt
Loading panama1972-2004.txt
Loading philippines1987.txt
Loading pakistan19732012.txt
Loading pologne1997-2009.txt
Loading portugal1976.txt
Loading paraguay1992-2011.txt
Loading qatar2004.txt
Loading roumanie1991-2003.txt
Loading russie1993-2008.txt
Loading rwanda2003-2010.txt
Loading arabie-saoudite1992.txt
Loading seychelles1993-2011.txt
Loading soudan2005.txt
Loading singapour1963-2010.txt
Loading slovaquie1992-2006.txt
Loading sierra-leone1991.txt
Loading somalie1979.txt
Loading suriname1987-1992.txt
Loading syrie1973-2012.txt
Loading swaziland2005.txt
Loading tchad1996-2005.txt
Loading togo1992-2007.txt
Loading tadjikistan1994-2003.txt
Loading tunisie1959-2008.txt
Loading tonga1875-1988.txt
Loading timor-oriental2002.txt
Loading turquie1982-2011.txt
Loading tuvalu1986-2007.txt
Loading tanzanie1977.txt
Loading ukraine1996-2010.txt
Loading ouganda19952005.txt
Loading uruguay1967-2004.txt
Loading venezuela1999-2009.txt
Loading vanuatu1980-1983.txt
Loading samoa1960-2008.txt
Loading zambie1991-1996.txt
Loading zimbabwe1979-2009.txt

In [176]:
text_list[1][:500]

'United Arab Emirates  THE PROVISIONAL CONSTITUTION OF THE UNITED ARAB EMIRATES July 18, 1971, amended 1972  We, the Rulers of the Emirates of Abu Dhabi, Dubai, Sharjah, Ajman, Umm Al Qawain and Fujairah;  Whereas it is out desire and the desire of the people of our Emirates to establish a Union between these Emirates, to promote a better life, more enduring stability and a higher international status for the Emirates and their people;  Desiring to create closer links between the Arab Emirates in'

In [105]:
# Now make each text a cell within the DataFrame
merged_df["const_text"] = text_list

In [106]:
merged_df.head()

,country,pays,colonizer1,filename,file_country,uk_col,const_text
0,Andorra,andorre,,andorre1993.txt,andorre,0,Constitution of the Principality of Andorra ...
1,United Arab Emirates,emirats arabes unis,GBR,emirats-arabes-unis1971-1972.txt,emirats arabes unis,1,United Arab Emirates THE PROVISIONAL CONSTITU...
2,Afghanistan,afghanistan,,afghanistan2004.txt,afghanistan,0,"The Constitution of Afghanistan January 3,..."
3,Albania,albanie,TUR,albanie1998-2008.txt,albanie,0,"CONSTITUTION OF ALBANIA We, the people of ..."
4,Angola,angola,PRT,angola2010.txt,angola,0,REPUBLIC OF ANGOLA NATIONAL ASSEMBLY CON...

In [177]:
# Compute *hand-engineered* features.
# Begin by cleaning data
from gensim.parsing.preprocessing import preprocess_string
merged_df["const_preproc"] = merged_df["const_text"].apply(preprocess_string)

In [178]:
merged_df["const_preproc"] = merged_df["const_preproc"].apply(lambda x: " ".join(x))

In [116]:
merged_df.head()

,country,pays,colonizer1,filename,file_country,uk_col,const_text,const_preproc
0,Andorra,andorre,,andorre1993.txt,andorre,0,Constitution of the Principality of Andorra ...,constitut princip andorra consel gener princip...
1,United Arab Emirates,emirats arabes unis,GBR,emirats-arabes-unis1971-1972.txt,emirats arabes unis,1,United Arab Emirates THE PROVISIONAL CONSTITU...,unit arab emir provision constitut unit arab e...
2,Afghanistan,afghanistan,,afghanistan2004.txt,afghanistan,0,"The Constitution of Afghanistan January 3,...",constitut afghanistan januari god graciou merc...
3,Albania,albanie,TUR,albanie1998-2008.txt,albanie,0,"CONSTITUTION OF ALBANIA We, the people of ...",constitut albania peopl albania proud awar his...
4,Angola,angola,PRT,angola2010.txt,angola,0,REPUBLIC OF ANGOLA NATIONAL ASSEMBLY CON...,republ angola nation assembl constitu assembl ...

In [117]:
# Here are the "hand-engineered" features
merged_df["const_len"] = merged_df["const_text"].apply(len)

In [125]:
merged_df["num_free"] = merged_df["const_text"].str.count("free")
merged_df["num_just"] = merged_df["const_text"].str.count("just")
merged_df["num_lib"] = merged_df["const_text"].str.count("liber")
merged_df["prop_free"] = merged_df["num_free"] / merged_df["const_len"]
merged_df["prop_just"] = merged_df["num_just"] / merged_df["const_len"]
merged_df["prop_lib"] = merged_df["num_lib"] / merged_df["const_len"]

In [126]:
merged_df.head()

,country,pays,colonizer1,filename,file_country,uk_col,const_text,const_preproc,const_len,num_freedom,num_free,num_just,num_lib,prop_free,prop_just,prop_lib
0,Andorra,andorre,,andorre1993.txt,andorre,0,Constitution of the Principality of Andorra ...,constitut princip andorra consel gener princip...,62244,28,28,11,5,0.000450,0.000177,0.000080
1,United Arab Emirates,emirats arabes unis,GBR,emirats-arabes-unis1971-1972.txt,emirats arabes unis,1,United Arab Emirates THE PROVISIONAL CONSTITU...,unit arab emir provision constitut unit arab e...,67760,9,9,5,7,0.000133,0.000074,0.000103
2,Afghanistan,afghanistan,,afghanistan2004.txt,afghanistan,0,"The Constitution of Afghanistan January 3,...",constitut afghanistan januari god graciou merc...,69973,14,14,9,3,0.000200,0.000129,0.000043
3,Albania,albanie,TUR,albanie1998-2008.txt,albanie,0,"CONSTITUTION OF ALBANIA We, the people of ...",constitut albania peopl albania proud awar his...,87562,42,42,9,9,0.000480,0.000103,0.000103
4,Angola,angola,PRT,angola2010.txt,angola,0,REPUBLIC OF ANGOLA NATIONAL ASSEMBLY CON...,republ angola nation assembl constitu assembl ...,180777,80,80,37,8,0.000443,0.000205,0.000044

In [144]:
# Split the data into training and test data [by splitting the indices]
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(merged_df, test_size=0.2, random_state=42)

In [145]:
print("Training size: " + str(len(train_df)))
print("Test size: " + str(len(test_df)))

Training size: 96
Test size: 24

In [146]:
feature_vars = ["const_len","prop_free","prop_just","prop_lib"]
label_var = "uk_col"
train_features = train_df[feature_vars]
train_labels = train_df[label_var]
test_features = test_df[feature_vars]
test_labels = test_df[label_var].tolist()

In [154]:
from sklearn.naive_bayes import GaussianNB
def naiveBayesClassify(train_features, train_labels, test_features, test_labels):
    gnb = GaussianNB()
    y_pred = gnb.fit(train_features, train_labels).predict(test_features)
    print("Predicted labels: " + str(y_pred))
    print("Actual test labels: " + str(test_labels))
    num_test_obs = len(test_df)
    mislabeled_obs = (test_labels != y_pred).sum()
    accuracy = 1 - (mislabeled_obs/num_test_obs)
    print(str(mislabeled_obs) + " mislabeled obs out of " + str(num_test_obs) + " total test observations")
    print("Accuracy = " + str(accuracy))
naiveBayesClassify(train_features, train_labels, test_features, test_labels)

Predicted labels: [0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
Actual test labels: [0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0]
7 mislabeled obs out of 24 total test observations
Accuracy = 0.708333333333

In [156]:
# Now we try fancier Ngram features
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

In [164]:
train_counts = count_vect.fit_transform(train_df["const_preproc"]).toarray()
test_counts = count_vect.transform(test_df["const_preproc"]).toarray()

In [165]:
print(train_counts.shape)
print(test_counts.shape)

(96, 17177)
(24, 17177)

In [166]:
naiveBayesClassify(train_counts, train_labels, test_counts, test_labels)

Predicted labels: [0 1 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0]
Actual test labels: [0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0]
3 mislabeled obs out of 24 total test observations
Accuracy = 0.875

In [167]:
import numpy as np
# Baseline 1: random guessing
random_test_labels = np.random.choice([0,1], size=(len(test_df)))

In [168]:
mislabeled_random = (random_test_labels != y_pred).sum()
accuracy = 1 - (mislabeled_random/num_test_obs)

array([1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0])